<h5>Pedido</h5>
<div class="card">
    <div class="card-body">
      <div class="product-info">
        <div class="product-image">
          <div class="avatar-container">
            <p-avatar class="avatar" image="assets/images/cafeteria.jpg"></p-avatar>
          </div>
        </div>
        <div class="product-details">
          <h5 class="product-name">Pizza</h5>
          <span class="product-price">$99.99</span>
        </div>
      </div>
      <div class="quantity-control">
        <button class="quantity-btn">-</button>
        <span class="quantity">1</span>
        <button class="quantity-btn">+</button>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <div class="product-info">
        <div class="product-image">
          <div class="avatar-container">
            <p-avatar class="avatar" image="assets/images/cafeteria.jpg"></p-avatar>
          </div>
        </div>
        <div class="product-details">
          <h5 class="product-name">Pizza</h5>
          <span class="product-price">$99.99</span>
        </div>
      </div>
      <div class="quantity-control">
        <button class="quantity-btn">-</button>
        <span class="quantity">1</span>
        <button class="quantity-btn">+</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="product-info">
        <div class="product-image">
          <div class="avatar-container">
            <p-avatar class="avatar" image="assets/images/cafeteria.jpg"></p-avatar>
          </div>
        </div>
        <div class="product-details">
          <h5 class="product-name">Pizza</h5>
          <span class="product-price">$99.99</span>
        </div>
      </div>
      <div class="quantity-control">
        <button class="quantity-btn">-</button>
        <span class="quantity">1</span>
        <button class="quantity-btn">+</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="product-info">
        <div class="product-image">
          <div class="avatar-container">
            <p-avatar class="avatar" image="assets/images/cafeteria.jpg"></p-avatar>
          </div>
        </div>
        <div class="product-details">
          <h5 class="product-name">Pizza</h5>
          <span class="product-price">$99.99</span>
        </div>
      </div>
      <div class="quantity-control">
        <button class="quantity-btn">-</button>
        <span class="quantity">1</span>
        <button class="quantity-btn">+</button>
      </div>
    </div>
  </div>

  <button>1realizar pedido</button>