<h5>Productos agregados</h5>

<div class="order-container">
  <div *ngFor="let item of productList " class="card-body">
    <div class="product-info">
      <div class="product-image">
        <div class="avatar-container">
          <p-avatar class="avatar" >
            <img [src]="getImages(item.product.id)" alt="" class="product-image">
          </p-avatar>
        </div>
      </div>
      <div class="product-details">
        <h5 class="product-name">{{item.product.name}}</h5>
        <span class="product-price">{{item.product.price | currency}} </span>
      </div>
    </div>
    <div class="quantity-control">
      <button (click)="removeFromCart(item.product)" class="quantity-btn">-</button>
      <span  class="quantity">{{item.quantity}}</span>
      <button (click)="addToCart(item.product)" class="quantity-btn">+</button>
    </div>
  </div>
    <p-toast position="bottom-center"></p-toast>
    <button class="button order-button" style="width: 100%;" (click)="crearOrden()" [disabled]="productList.length == 0" pButton type="button" label="Realiza Pedido" icon="pi pi-shopping-cart"></button>
</div>
