
<div class="avatar-list">
  <!-- Grupos arriba -->
  <div (click)="filtrarCategoria('todo')" class="avatar-container-group">
    <div class="avatar-container">
      <p-avatar class="avatar" image="assets/images/todo.jpg"></p-avatar>
    </div>
    <span class="category">Todo</span>
  </div>
  <div  (click)="filtrarCategoria('hamburguesa')" class="avatar-container-group">
    <div class="avatar-container">
      <p-avatar class="avatar" image="assets/images/burguer.jpg"></p-avatar>
    </div>
    <span class="category">Burguers</span>
  </div>
  <div  (click)="filtrarCategoria('pizza')" class="avatar-container-group">
    <div class="avatar-container">
      <p-avatar class="avatar" image="assets/images/pizza.jpg"></p-avatar>
    </div>
    <span class="category">Pizza</span>
  </div>
  <div  (click)="filtrarCategoria('pastas')" class="avatar-container-group">
    <div class="avatar-container">
      <p-avatar class="avatar" image="assets/images/pastas.jpg"></p-avatar>
    </div>
    <span class="category">Pastas</span>
  </div>
  <!-- Grupos abajo -->
  <div  (click)="filtrarCategoria('postres')" class="avatar-container-group">
    <div class="avatar-container">
      <p-avatar class="avatar" image="assets/images/postres.jpg"></p-avatar>
    </div>
    <span class="category">Postres</span>
  </div>
  <div  (click)="filtrarCategoria('bebidas')" class="avatar-container-group">
    <div class="avatar-container">
      <p-avatar class="avatar" image="assets/images/bebidas.jpg"></p-avatar>
    </div>
    <span class="category">Bebidas</span>
  </div>
  <div  (click)="filtrarCategoria('cafeteria')" class="avatar-container-group">
    <div class="avatar-container">
      <p-avatar class="avatar" image="assets/images/cafeteria.jpg"></p-avatar>
    </div>
    <span class="category">Cafeteria</span>
  </div>
  <div  (click)="filtrarCategoria('tapeo')" class="avatar-container-group">
    <div class="avatar-container">
      <p-avatar class="avatar" image="assets/images/tapeo.jpg"></p-avatar>
    </div>
    <span class="category">Tapeo</span>
  </div>
</div>




<p-virtualScroller #virtualScroller [value]="combinedProducts" scrollHeight="500px" [itemSize]="100">

  <ng-template let-product pTemplate="item">
    <div class="product-item" >
      <div class="image-container" (click)="goToProductDetail(product)">
        <div class="avatar-container">
          <p-avatar class="avatar" image="{{product.product.imageUrl}}"></p-avatar>
        </div>
      </div>
      <div class="product-list-detail">
        <h5 class="mb-2">{{ product.product.name }}</h5>
        <div class="quantity-control">
          <button (click)="removeFromCart(product)" class="quantity-btn">-</button>
          <span class="quantity-text">{{product.quantity}}</span>
          <button (click)="addToCart(product)" class="quantity-btn">+</button>
        </div>
      </div>
      <div class="product-list-action">
        <h6 class="mb-2-price">${{ product.product.price }}</h6>
        <div class="chips-container">
          <p-chip *ngIf="product.product.isVegan" label="Vegano" styleClass="mr-2 custom-chip"></p-chip>
          <p-chip *ngIf="product.product.isGlutenFree" label="Gluten free" styleClass="mr-2 custom-chip"></p-chip>
        </div>

      </div>
    </div>
  </ng-template>
</p-virtualScroller>