.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  .checkbox-item {
    align-items: center;
  }
  
  .checkbox-item label {
    margin-left: 5px;
  }
  
  .custom-checkbox {
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
  }
  
  .custom-checkbox:checked::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: violet;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #644AB5;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

::ng-deep .p-field{
    margin-bottom: 15px;
}
::ng-deep .p-dialog-draggable .p-dialog-header {
    font-family: 'Poppins', serif;
    color: #644AB5;
}