<div>
    <div class="title">
        <span class="title-text">Mesa 9</span>
    </div>

    <p-tabView>
        <p-tabPanel class="tabClass" header="Efectivo / Tarjeta">
            <div class="container">
                <div class="item">
                    <span class="productName">Pizza</span>
                    <span class="price"> $10</span>
                </div>
                <div class="item">
                    <span class="productName">Hamburguesa</span>
                    <span class="price"> $8</span>
                </div>
                <div class="item">
                    <span class="productName">Cocacola</span>
                    <span class="price"> $2</span>
                </div>
                <div class="total">
                    <span class="label">Total:</span>
                    <span class="totalPrice"> $20</span>
                </div>
            </div>

        </p-tabPanel>
        <p-tabPanel class="tabClass" header="Mercado pago">
            Mercado pago
        </p-tabPanel>
    </p-tabView>

    <div class="container">
        <h2 style="color: #644AB5;margin-bottom: 0px; font-size: 20px;">Efectivo:</h2>
        <h5 style="margin-top:10px; margin-left: 30px;margin-bottom: 10px;">Con cuánto va a pagar</h5>
        <p-inputNumber class="input" placeholder="Ingrese el monto"></p-inputNumber>
        <button class="button" pButton type="button" label="Pedir mozo" icon="pi pi-user-plus"></button>
    </div>
</div>