<div>

    <p-tabView>
        <p-tabPanel class="tabClass" header="Efectivo / Tarjeta">
            <div  class="container">
                <div *ngFor="let order of orders">
                    <div *ngFor="let product of order.products " class="item">
                        <span class="productName">{{product.product.name}}</span>
                        <span class="price"> X{{product.quantity}}</span>
                        <span class="price"> {{product.product.price*product.quantity}}</span>
                    </div>
                    <div  class="item"><span class="productName">Propina 10%</span> {{getTenPercentOfTotal(order)  }}</div>
                    <div class="item" style="margin-bottom: 20px;">
                        <span class="label" >Subtotal:</span>
                        <span class="totalPrice">{{order.totalAmount}}</span>
                    </div>
                </div>
                <div class="total">
                    <span class="label">Total:</span>
                    <span class="totalPrice">{{getTotalAmounts()}}</span>
                </div>
                <div class="container">
                    <h2 style="color: #644AB5;margin-bottom: 0px; font-size: 20px;">Efectivo:</h2>
                    <h5 style="margin-top:10px; margin-left: 30px;margin-bottom: 10px;">Con cuánto va a pagar</h5>
                    <p-inputNumber class="input" [(ngModel)]="pagoEfectivo" placeholder="Ingrese el monto"></p-inputNumber>
                    <button class="button" (click)="realizarPagoEfectivo()" pButton type="button" label="Pedir mozo" icon="pi pi-user-plus"></button>
                </div>
            </div>

        </p-tabPanel>
        <p-tabPanel class="tabClass" header="Mercado pago">
            <div *ngFor="let order of orders">
                <div *ngFor="let product of order.products " class="item">
                    <span class="productName">{{product.product.name}}</span>
                    <span class="price"> X{{product.quantity}}</span>
                    <span class="price"> {{product.product.price*product.quantity}}</span>
                </div>
                <div class="item" style="margin-bottom: 20px;">
                    <span class="label">Subtotal:</span>
                    <span class="totalPrice">{{order.totalAmount}}</span>
                </div>
            </div>
            <div class="total">
                <span class="label">Total:</span>
                <span class="totalPrice">{{getTotalAmounts()}}</span>
            </div>
            <div style="margin-top: 20px;">
                <button class="button" pButton type="button" (click)="realizarPagoMercadoPago()" label="Realizar Pago" icon="pi pi-wallet"></button>
            </div>
        </p-tabPanel>
    </p-tabView>

</div>