
<body>
    <div class="product-management">
        <h1>Administrar productos</h1>
        <div class="button-container">
            <button [disabled]="selectedProduct" pButton type="button" (click)="abrirDialogo()" class="p-button p-button-raised p-button-rounded add">
                <i class="pi pi-plus-circle"></i> Agregar
            </button>
            <button [disabled]="!selectedProduct" pButton type="button" (click)="deleteProduct()" class="p-button p-button-raised p-button-rounded delete">
                <i class="pi pi-minus-circle"></i> Borrar
            </button>
            <button [disabled]="!selectedProduct" pButton type="button" (click)="abrirDialogo()" class="p-button p-button-raised p-button-rounded modify">
                <i class="pi pi-info-circle" ></i> Modificar
            </button>   
        </div>
      </div>
    <div>
        <app-producto-create [displayDialog]="displayDialog" [product]="selectedProduct" (onClose)="cerrarDialogo()" (updateProducts)="updateProduct()">
        </app-producto-create>
    <p-table [value]="products" selectionMode="single"  styleClass="mt-5" dataKey="code">
        <ng-template pTemplate="header">
            <tr [pSelectableRow]="selectedProduct">
                <th>Producto</th>
                <th>imagen</th>
                <th>Precio</th>
                <th>Estado</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr [pSelectableRow]="product" [pSelectableRowIndex]="rowIndex">
                <td>{{product.name}}</td>
                <td>{{product.imagen}}</td>
                <td>{{product.price}}</td>
                <td>{{product.status}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</body>
