


<p-tabView>
  
  <p-tabPanel header="Indicadores">
    <p-card title="Tarjeta Débito">
      <h2>Gasto promedio por cuenta</h2>
      <h4>{{indicators.AverageAmount}}</h4>
    </p-card>
    <div style="width: 422px; height: 422px;">

      <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
      
      </div>    
 
    </p-tabPanel>
  
    <p-tabPanel header="Ranking de Productos">
      <app-ranking-productos [bills]="bills" ></app-ranking-productos>
    </p-tabPanel>
  </p-tabView>
  