::ng-deep .p-avatar{
  display: contents !important;
}
.product-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    flex-wrap: nowrap;
  
    img {
      width: 100px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 1rem;
    }
  
    .product-list-detail {
      margin-left: 10px;
      flex: 1 1 0;
    }
    .mb-2-price{
      font-weight: 1000;
      color: #C9AA05;
    }
    .chips-container {
      display: flex;
      gap: 5px; /* Espacio entre los chips */
    }
    
    .product-list-action {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  
    .product-category-icon {
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  
    .product-category {
      vertical-align: middle;
      line-height: 1;
    }
  
    &.loading-item {
      .image-container {
        width: 100px;
        height: 66px;
        animation: pulse 1s infinite ease-in-out;
        margin-right: 1rem;
      }
  
      .product-list-detail {
        h5,
        .product-category {
          width: 150px;
          height: 14px;
          display: block;
          animation: pulse 1s infinite ease-in-out;
        }
      }
  
      .product-list-action {
        .product-badge {
          display: block;
          width: 100px;
          height: 14px;
          animation: pulse 1s infinite ease-in-out;
        }
  
        h6 {
          width: 25px;
          height: 14px;
          animation: pulse 1s infinite ease-in-out;
        }
      }
    }
  }

  .mb-2{
    margin-top: 0;
    margin-bottom: 10px;
  }
  .avatar-container {
    padding: 2px;
    margin-bottom: 5px;
    width: 60px; /* Tamaño del contenedor */
    height: 60px; /* Tamaño del contenedor */
    background-color: lightgray; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    display: flex; /* Para centrar la imagen verticalmente */
    justify-content: center; /* Para centrar la imagen horizontalmente */
    align-items: center; /* Para centrar la imagen verticalmente */
    overflow: hidden; /* Ocultar partes de la imagen que se salgan del contenedor */
  }
 ::ng-deep .p-avatar img {
   object-fit: cover; /* Ajustar la imagen para que quepa completamente dentro del contenedor */

  }

  
  .avatar-container p-avatar {
    width: 100%; /* Tamaño de la imagen */
    height: 100%; /* Tamaño de la imagen */
    border-radius: 50%; /* Hacer la imagen circular */
    object-fit: cover; /* Ajustar la imagen para que ocupe todo el espacio disponible sin distorsión */
  }
  
  .avatar-container-group:hover .avatar-container,
  .avatar-container-group:active .avatar-container,
  .avatar-container-group:focus .avatar-container {
    background-color: #644AB5; /* Cambiar el color de fondo a violeta */
  }
  
  .avatar-container-group:hover .category,
  .avatar-container-group:active .category,
  .avatar-container-group:focus .category {
    color: #644AB5; /* Cambiar el color del texto a violeta */
  }
  
  .category {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #808080; /* Color gris */
  }
  
  .avatar-container-group {
    margin-bottom: 10px;
    flex: 0 0 25%; /* Ocupa el 25% del ancho disponible */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    text-align: center; /* Centrar verticalmente */
  }
  
  .container {
    margin-left: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-weight: 500; /* Poppins Medium */
  }
  
  .icon {
    display: flex;
    align-items: center;
    border-radius: 70%; /* Forma circular */

    margin-left: auto; /* Mover hacia la derecha */
  }
  
  .icon-button {
    background-color: #644AB5; /* Fondo circular violeta */
    color: #808080; /* Color gris */
    border-radius: 70%; /* Forma circular */
    margin-right: 10px; /* Espacio entre el icono y el texto */
  }
  
  .icon-text {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #808080; /* Color gris */
  }
  
  .avatar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar horizontalmente */
  }
  
  .avatar {
   border-radius: 50%; /* Hacer la imagen circular */
    overflow: hidden; /* Ocultar partes de la imagen que se salgan del círculo */
  }
  
  
  ::ng-deep .p-avatar.p-avatar-image{
    width: 100% !important;
    height: 100% !important;
  }
  @media screen and (max-width: 960px) {
    .product-item {
      h5 {
        font-size: 1rem;
      }
  
      img {
        width: 70px;
      }
  
      .product-category-icon,
      .product-category {
        display: none;
      }
    }
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
  }
  
  .quantity-btn {
    width: 18px;
    height: 18px;
    border: 2px solid #644AB5;
    border-radius: 50%;
    background-color: transparent;
    color: #644AB5;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  
  .quantity-btn:hover {
    background-color: #644AB5;
    color: white;
  }
  
  .quantity-text {
    font-size: 14px;
  }

  ::ng-deep .p-chip{
    width: max-content;
    height: min-content;
    font-size: smaller;
    /* background: lightgreen; */
    background-color: #8a65ff4f;
    display: inline-flex;
    align-items: center;
    color: gray;
  }