:host ::ng-deep {
  .p-dropdown {
    font-weight: normal;

    &.status-nuevo .p-dropdown-label {
      background-color: blue;
      color: white;
    }

    &.status-preparando .p-dropdown-label {
      background-color: orange;
      color: black;
    }

    &.status-entregado .p-dropdown-label {
      background-color: rgb(219, 35, 11);
      color: white;
    }

    &.status-pagado .p-dropdown-label {
      background-color: green;
      color: white;
    }
  }
  
  .order-name {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .order-description {
    margin: 0 0 1rem 0;
  }
  
  .order-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
  }
  
  .order-category {
    font-weight: 600;
    vertical-align: middle;
  }
  
  .order-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
  
    img {
      width: 150px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 2rem;
    }
  
    .order-list-detail {
      flex: 1 1 0;
    }
  
    .p-rating {
      margin: 0 0 .5rem 0;
    }
  
    .order-price {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: .5rem;
      align-self: flex-end;
    }
  
    .order-list-action {
      display: flex;
      flex-direction: column;
  
      .p-button {
        margin-bottom: .5rem;
      }
    }
  }
  
  .order-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; // Necesario para posicionar el número de mesa
    
    .order-grid-item-top,
    .order-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    img {
      width: 75%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin: 2rem 0;
    }
  
    .order-grid-item-content {
      text-align: center;
    }
  
    .order-price {
      font-size: 1.5rem;
      font-weight: 800;
      color: #C9AA05;
    }
  
    .order-table-number {
      position: absolute; // Posiciona el número de mesa en la esquina inferior derecha
      bottom: 0;
      font-weight: 600;

      right: 0;
      background-color: rgba(0, 0, 0, 0.1); // Fondo ligeramente transparente para destacar el texto
      padding: 0.5em;
      border-radius: 0.25em;
      font-size: 1em;
      width: 15vh;
      color: #644AB5;
      text-align: center;
      font-family: 'Poppins', sans-serif;
    }
  }
}

.card {
  margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
  :host ::ng-deep .order-list-item {
    flex-direction: column;
    align-items: center;

    img {
      width: 75%;
      margin: 2rem 0;
    }

    .order-list-detail {
      text-align: center;
    }

    .order-price {
      align-self: center;
    }

    .order-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

::ng-deep div.p-grid.p-nogutter.grid.grid-nogutter {
  display: flex !important;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.order-badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  font-size: 0.75em;
  font-weight: bold;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.waiter-info {
  position: relative;
  display: inline-block;
}

.notification-badge {
  margin-right: 10px;
  animation: blink 1s infinite; /* Aplicar la animación */
}
.dialog-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 150px;

  button {
    margin-left: 0.5rem;
  }
}
::ng-deep .p-dialog .p-dialog-content{
  height: 300px !important;
  padding: 20px 1.5rem 2rem 1.5rem !important;
}

.color-1 {
  color: #FF5733; /* Color naranja */
}

.color-2 {
  color: #33FF57; /* Color verde */
}

.color-3 {
  color: #3357FF; /* Color azul */
}

.color-4 {
  color: #F3FF33; /* Color amarillo */
}

.color-5 {
  color: #9e0fb1; /* Color rosa */
}

.color-6 {
  color: #33FFF4; /* Color cian */
}
.color-7 {
  color: rgb(134, 100, 48); /* Color negro por defecto */
}
.color-8 {
  color: rgb(71, 45, 45); /* Color negro por defecto */
}
.color-9 {
  color: rgb(83, 88, 71); /* Color negro por defecto */
}
.color-default {
  color: black; /* Color negro por defecto */
}

