<div class="card">
    <p-dataView #dv [value]="orders" [paginator]="true" [rows]="9" filterBy="id"
        [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <p-dropdown  [options]="statuses" [(ngModel)]="sortKey" placeholder="Filtre por estado de pedido" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
            </div>
        </ng-template>
        <ng-template let-order pTemplate="gridItem">
            <div class="p-col-12 p-md-4" style="width: calc(33.33% - 20px);">
                <div class="order-grid-item card"  >
                    <div class="order-grid-item-top">
                        <div>
                            <p-badge *ngIf="isPayTableNull(order.tableId)" value="!" class="notification-badge" badgeSize="large" severity="danger"></p-badge> 
                            <p-badge *ngIf="getPayTable(order.tableId)" value="${{getPayTable(order.tableId)}}" class="notification-badge" badgeSize="large" severity="danger"></p-badge> 
                            <i class="pi pi-user order-category-icon"></i>
                            <span class="order-category">{{order.user.name}}</span>
                        </div>
                        <p-dropdown 
                        [options]="statuses" 
                        [(ngModel)]="order.status" 
                        (onChange)="onStatusChange(order, $event)"
                        placeholder="Select a status"
                        [style]="{'width':'200px'}"
                        [ngClass]="'order-badge status-' + getStatusName(order.status).toLowerCase()">
                      </p-dropdown>                    </div>
                    <div class="order-grid-item-content">
                        <div class="order-name">{{order.id}}</div>
                        <div class="order-description">{{getOrderDescriptions(order)}}</div>
                    </div>
                    <div class="order-grid-item-bottom">
                        <span class="order-price">${{getTotalAmount(order)}}</span>
                        <div class="order-table-number">Mesa: {{order.tableId}}</div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>