<p-dialog header="{{accion}} Nuevo Menu" [modal]="true" [(visible)]="displayDialog" [style]="{ 'width': '600px' }" [baseZIndex]="10000" [closable]="false">
    <div class="p-fluid">
        <div class="p-field">
            <label for="name">Nombre</label>
            <input type="text" id="name" pInputText [(ngModel)]="nombre" autofocus required>
        </div>
        <div class="p-field" style="margin-top: 20px;">
            <label for="description">Descripcion</label>
            <input type="text" id="description" pInputText [(ngModel)]="descripcion" autofocus required>
        </div>
    </div>
    <footer  style="display: flex;margin-top: 20px; justify-content: space-between;">
        <button type="button" pButton label="Guardar" icon="pi pi-check" (click)="guardar()"></button>
        <button type="button" pButton label="Cancelar" icon="pi pi-times" class="p-button-secondary" (click)="cancelar()"></button>
    </footer>
</p-dialog>