// Archivo de estilos para tu componente (por ejemplo, payments.component.scss)

// Estilo para el dropdown
.custom-dropdown {
    width: 80%; // Aumenta el ancho del dropdown
    margin-bottom: 20px; // Aumenta el margen inferior
  
    .p-dropdown {
      width: 100%; // Asegura que el dropdown ocupe todo el ancho disponible
    }
  }
  
  // Estilo para la tabla
  p-table {
    .table-header {
      background-color: #EDE7F6; // Lila muy claro para el fondo
      color: #644AB5; // Color principal de la app para el texto
      font-weight: bold;
  
      th {
        text-align: left;
        padding: 10px; // Aumenta el padding para mejorar el diseño
      }
    }
  
    .p-table-tbody {
      tr {
        td {
          padding: 8px;
        }
  
        &:nth-child(even) {
          background-color: #f5f5f5; // Color de fondo para filas pares
        }
  
        &:nth-child(odd) {
          background-color: white; // Color de fondo para filas impares
        }
      }
    }
  }
  
  // Estilo para el filtro de fecha (si se usa)
  .date-filter {
    margin-bottom: 10px;
  
    .p-calendar {
      width: 100%;
    }
  }
  